a {
    text-decoration: none;
}
.logo {
    display: flex;
    background-color: green;
    height: 120px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}

main{
    background-color: gray;
}
h1 {
    padding-top: 10px;
    text-decoration: underline;
    padding-bottom: 10px;
}
h2 {
    padding-top: 10px;
    text-decoration: underline;
    padding-bottom: 10px;
}
li {
    list-style: none;
    display: inline;
}
footer {
    background-color: black;
}
.footer-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}
.download_button {
    position:relative;
    left: 900px;
    height: 80px;
    border-radius: 5%;
    background-color: blue;
}
.link_button{
    color: white;
    font-weight: bold;
}
